* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 500px;
	// height: 600px;
	margin: 0 auto;
	padding: 20px;
	gap: 10px;
	background-color: aliceblue;
	padding: 50px;
	margin-top: 50px;
	margin-bottom: 200px;
	overflow: hidden;

	input {
		width: 80%;
		padding: 20px;
	}
	button {
		width: 100px;
		height: 30px;
		border: 1px solid #626262;
		background-color: beige;
		border-radius: 20px;
		color: #000000;
		font-family: sans-serif;
	}
}
