@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
  font-family: "Open Sans", sans-serif;
  width: 1440px;
  margin: 0 auto;
}

/* Navbar */
.nav {
  width: 1440px;
  height: 137px;
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 133px;
  position: relative;
}
.nav .text1 {
  display: flex;
  align-items: center;
  gap: 82px;
}
.nav .text1 a {
  font-weight: 400;
  font-size: 16px;
  color: #323232;
  line-height: 150%;
  text-decoration: none;
}
.nav .logo {
  width: 87px;
  height: 86px;
  margin: 0 270px;
}
.nav .logo img {
  width: 100%;
  height: auto;
}
.nav .burger {
  display: none;
  cursor: pointer;
}
.nav .burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
  transition: all 0.3s ease;
}
.nav .nav-links {
  position: absolute;
  top: 137px;
  left: 0;
  width: 100%;
  background-color: #a1b29f;
  overflow: hidden;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: height 0.3s ease;
}
.nav .nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin: 15px 0;
}
.nav .nav-links.active {
  height: auto;
  padding: 15px 0;
}
.nav .burger.toggle div:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.nav .burger.toggle div:nth-child(2) {
  opacity: 0;
}
.nav .burger.toggle div:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Main section */
.Main-section {
  height: 774px;
  width: 1440px;
  display: flex;
  align-items: center;
  padding: 0 133px;
}
.Main-section .left-img {
  width: 719px;
  height: 774px;
}
.Main-section .left-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.Main-section .right-text {
  display: flex;
  flex-direction: column;
  padding-left: 37px;
}
.Main-section .right-text p {
  font-weight: 300;
  font-size: 16px;
  color: #323232;
  line-height: 150%;
}
.Main-section .right-text h1 {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: #57463a;
  line-height: 120%;
  margin-top: 17px;
}
.Main-section .right-text h6 {
  font-weight: 300;
  font-size: 18px;
  color: #323232;
  line-height: 150%;
  margin-top: 40px;
}
.Main-section .right-text button {
  width: 245px;
  height: 60px;
  background-color: #a1b29f;
  color: #f6f6f6;
  border: none;
  margin-top: 70px;
  cursor: pointer;
  font-size: 16px;
}
.Main-section .right-text .btn {
  margin-top: 94px;
  display: flex;
  gap: 40px;
  justify-content: flex-start;
}
.Main-section .right-text .btn img {
  width: 30px;
  height: auto;
}

/* Media query: mobil */
@media screen and (max-width: 576px) {
  body {
    width: 100%;
  }
  .nav {
    width: 100%;
    height: 60px;
    padding: 0 20px;
    justify-content: flex-end;
  }
  .nav .text1,
  .nav .logo {
    display: none; /* desktop linklar yashirilsin */
  }
  .nav .burger {
    display: block;
  }
  .nav .nav-links {
    top: 60px;
  }
  .Main-section {
    width: 100%;
    flex-direction: column;
    height: auto;
    padding: 20px;
    /* Avval rasm, keyin matn */
  }
  .Main-section .left-img {
    order: -1; /* rasm birinchi bo‘lsin */
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .Main-section .right-text {
    padding-left: 0 !important;
    text-align: center;
  }
  .Main-section .right-text .btn {
    justify-content: center;
    margin-left: 0 !important;
  }
}
.section-2 {
  margin-top: 160px;
  margin-bottom: 150px;
  padding-left: 135px;
}
.section-2 h1 {
  font-family: Tenor Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 48px;
  color: #57463a;
  line-height: 120%;
  letter-spacing: 0%;
}
.section-2 .cards {
  margin-top: 100px;
  display: flex;
  align-items: center;
  gap: 100px;
}
.section-2 .cards .card {
  width: 300px;
  border-bottom: 3px solid #715b4b;
}
.section-2 .cards .card p {
  font-family: Open Sans;
  font-weight: 300;
  font-style: Light;
  font-size: 18px;
  color: #323232;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .section-2 .section-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
  .section-2 .section-2 .cards {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .section-2 .section-2 .cards .card {
    max-width: 100%;
    display: block;
    flex-direction: column;
    align-items: center;
  }
}

.section-3 {
  margin-left: 140px;
}
.section-3 h1 {
  font-family: Tenor Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 48px;
  color: #57463a;
  line-height: 150%;
  letter-spacing: 0%;
}
.section-3 .cover-section {
  width: 1170px;
  height: 500px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
}
.section-3 .cover-section .card {
  align-items: center;
  font-family: Open Sans;
  font-weight: 300;
  font-style: Light;
  font-size: 18px;
  color: #323232;
  line-height: 103%;
  letter-spacing: 0%;
  text-align: center;
  border: 3px solid black;
  padding: 70px;
}

.section-4 {
  margin-top: 160px;
}
.section-4 h1 {
  font-family: Tenor Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 48px;
  color: #57463a;
  line-height: 150%;
  letter-spacing: 0%;
  margin-left: 140px;
}
.section-4 .section-cover {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-4 .section-cover .left-imgs {
  width: 704px;
  height: 475px;
}
.section-4 .section-cover .right-texts {
  padding-left: 30px;
  background-color: #ebeeeb;
  width: 704px;
  height: 475px;
}
.section-4 .section-cover .right-texts h2 {
  font-family: Tenor Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  color: #000;
  line-height: 150%;
  letter-spacing: 0%;
}
.section-4 .section-cover .right-texts p {
  font-family: Open Sans;
  font-weight: 300;
  font-style: Light;
  font-size: 18px;
  color: #000;
  line-height: 150%;
  letter-spacing: 0%;
  margin-top: 40px;
}
.section-4 .section-cover .right-texts button {
  width: 245px;
  height: 60px;
  border: none;
  background-color: #a1b29f;
  font-family: Open Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  color: #f6f6f6;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 52px;
}

.section-5 {
  padding-top: 200px;
}
.section-5 h1 {
  font-family: Tenor Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 48px;
  color: #57463a;
  line-height: 150%;
  letter-spacing: 0%;
  margin-bottom: 100px;
  padding-left: 140px;
}
.section-5 .section-cover {
  display: flex;
  align-items: center;
}
.section-5 .section-cover .right {
  width: 720px;
  height: 536px;
}
.section-5 .section-cover #right {
  width: 720px;
  height: 536px;
}
.section-5 .section-cover .left {
  padding-left: 30px;
  background-color: #e3dace;
  width: 720px;
  height: 536px;
  padding-top: 100px;
}
.section-5 .section-cover .left h2 {
  font-family: Tenor Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  color: #000;
  line-height: 150%;
  letter-spacing: 0%;
}
.section-5 .section-cover .left P {
  font-family: Open Sans;
  font-weight: 300;
  font-style: Light;
  font-size: 18px;
  color: #000;
  line-height: 150%;
  letter-spacing: 0%;
  margin-top: 40px;
}
.section-5 .section-cover .left button {
  width: 245px;
  height: 60px;
  border: none;
  background-color: #a1b29f;
  font-family: Open Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  color: #f6f6f6;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 55px;
}

.section-6 {
  margin: 0 auto;
  padding-left: 140px;
  margin-top: 201px;
}
.section-6 .frame {
  border: 7px solid #a1b29f;
  width: 1160px;
  height: 590px;
}
.section-6 .frame h1 {
  font-family: Tenor Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 48px;
  color: #57463a;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 106px;
}
.section-6 .frame p {
  font-family: Open Sans;
  font-weight: 300;
  font-style: Light;
  font-size: 24px;
  color: #000;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 40px;
}
.section-6 .frame .img {
  margin-left: 900px;
  width: 86px;
  height: 87px;
}

.section-7 {
  margin-top: 210px;
  width: 1440px;
  height: 380px;
  background-color: #715b4b;
  display: flex;
  padding-left: 140px;
  justify-content: space-between;
}
.section-7 .cars1 {
  margin-top: 138px;
}
.section-7 .cars1 p {
  font-family: Open Sans;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  color: #f6f6f6;
  line-height: 150%;
  letter-spacing: 0%;
}/*# sourceMappingURL=style.css.map */