/* Reset and Base Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	width: 100%;
	min-height: 100vh;
	background-color: #ffffff;
	color: #fff;
	overflow-x: hidden;
}

/* Navigation Bar */
nav {
	width: 100%;
	height: 10vh;
	background-color: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(5px);
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
	position: sticky;
	top: 0;
	z-index: 100;
	transition: background-color 0.3s ease;

	.nav-box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 50px;
		height: 100%;

		.nav-container {
			display: flex;
			align-items: center;
			gap: 20px;

			.logo img {
				height: 40px;

				h1 {
					color: blue;
					font-family: sans-serif;
				}
			}

			.links {
				display: flex;
				gap: 15px;

				.link {
					text-decoration: none;
					color: white;
					font-size: 18px;
					position: relative;
					transition: 0.3s ease;

					&:hover {
						color: #fca61f;
					}

					&::before {
						content: '';
						position: absolute;
						width: 100%;
						height: 2px;
						background: #fca61f;
						bottom: -5px;
						left: 0;
						transform: scaleX(0);
						transition: transform 0.4s ease;
					}

					&:hover::before {
						transform: scaleX(1);
					}
				}
			}

			#hire-me {
				background-color: #fca61f;
				color: black;
				border-radius: 5px;
				padding: 0.5rem 1rem;
				font-weight: 500;
				border: none;
				cursor: pointer;
				transition: all 0.3s ease;

				&:hover {
					background-color: transparent;
					color: #fca61f;
					font-weight: 700;
					border: 2px solid #fca61f;
					box-shadow: 0 0 20px #fca61f;
					scale: 1.05;
				}
			}
		}

		.hamburg,
		.cancel {
			display: none;
			color: white;
			cursor: pointer;
		}
	}

	.dropdown {
		z-index: 99;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.85);
		backdrop-filter: blur(4px);
		transform: translateY(-500px);
		transition: transform 0.4s ease;
		text-align: center;
		padding-top: 60px;

		&.active {
			transform: translateY(0);
		}

		.link {
			display: block;
			margin: 20px 0;
			font-size: 20px;
		}

		.cancel {
			position: absolute;
			top: 20px;
			right: 30px;
			font-size: 32px;
		}
	}
}

/* Responsive Styles */
@media (max-width: 900px) {
	nav {
		.nav-box {
			padding: 0 20px;

			.links {
				display: none;
			}

			.hamburg {
				display: block;
			}
		}
	}
}

@media (max-width: 600px) {
	nav {
		.nav-container {
			button {
				display: none;
			}

			.logo {
				position: static;
			}
		}

		svg {
			display: block;
		}

		.dropdown {
			padding-top: 50px;
		}
	}
}
