// body {
// 	font-family: Arial, sans-serif;
// 	background: #f2f2f2;
// 	display: flex;
// 	justify-content: center;
// 	padding-top: 50px;
// }
// .todo-container {
// 	background: white;
// 	padding: 20px;
// 	width: 450px;
//   height: auto;
// 	border-radius: 10px;
// 	box-shadow: 0 0 10px #ccc;
// }
// h2 {
// 	text-align: center;
// 	margin-bottom: 15px;
// }
// .input-group {
// 	display: flex;
// 	margin-bottom: 15px;
// }
// .input-group input {
// 	flex: 1;
// 	padding: 8px;
// }
// .input-group button {
// 	padding: 8px 12px;
// 	margin-left: 5px;
// 	cursor: pointer;
// }
// ul {
// 	list-style: none;
// 	padding: 0;
// }
// li {
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: center;
// 	background: #f9f9f9;
// 	margin-bottom: 5px;
// 	padding: 6px 10px;
// 	border-radius: 5px;
// }
// #addBtn button {
// 	margin-left: 5px;
// 	cursor: pointer;
// }

// =============================

body {
  font-family: Arial;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.todo-container {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 350px;
}

.input-group {
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

#addBtn {
  width: 100%;
  background: #2196f3;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#addBtn:hover {
  background: #0b7dda;
}

#taskList {
  list-style: none;
  margin-top: 20px;
  padding: 0;
}

.task-item {
  background: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.btn-group button {
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
}

.edit-btn:hover {
  color: green;
}
.delete-btn:hover {
  color: red;
}

